


page-home {
    .img1{
      width: 100%;
  
    }
  
  .adminPage{
    margin: 50px 0 ;
    border: #215175 3px solid;
  
  }
  .familyPage{
    margin: 50px 0 ;
    border: #215175 3px solid;
  }
  .mainItme{
     margin:120px 20px 20px 20px;
     padding-left: 10px;
  
  }
  }


